.html {
    overflow-x: scroll;
}

.center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.departments {
    width: 90vw;
    max-width: 900px;
    min-width: 300px;
    border-radius: 10px;
}

.departments h1 {
    background-color: grey;
    padding: 15px 0 15px 45px;
    width: calc(90vw - 45px);
    border-radius: 5px 5px 0 0;
    max-width: 855px;
    min-width: 355px;
    margin-top: 0;
    margin-bottom: 0;
}

.department {
    border-radius: 0 0 5px 5px;
    min-width: 400px;
    overflow: hidden;
}

.department p {
    margin-top: 5px;
    font-size: 23px;
}

.profile {
    display: grid;
    grid-template-columns: 140px auto;
    padding: 10px 0 10px 45px;
}

.profile:hover {
    box-shadow: 2px 3px 3px;
}

.profile:nth-child(odd) {
    background-color: silver;
}

.profile:nth-child(even) {
    background-color: lightgrey;
}
